

.App {
  text-align: center;
  background-image: url("https://cdn.britannica.com/84/73184-004-E5A450B5/Sunflower-field-Fargo-North-Dakota.jpg");
  background-size: cover;
  min-height:100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.plantcardimage {
  height:200px;
  width:250px;
}

.plantCardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.plantCard{
  margin-bottom: 10px;
  height:320px;

}
.plantCardSizer {
  margin: 0 auto;
  border:1px solid grey;
  width:250px;
  height:320px;
  background-color: lightGrey;
}
.main {
  display: grid;
  grid-template-columns: .5fr 9fr .5fr;
}
.cardBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cardBody p {
  height:36px;
}

.SearchFormHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: lightGrey;
  height:60px;
}
/* form {
  margin-top: 25px;
} */
input {
  height:2rem;
  vertical-align: text-bottom;
}
.submit {
  height:40px;
  vertical-align: baseline;
}
.showPlantCard {
  height: 600px;

}
.showCardBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: lightGrey;
}
