.App {
  text-align: center;
  background-image: url("https://previews.123rf.com/images/glopphy/glopphy1302/glopphy130200026/17810439-leave-and-ladybugs-frame-background.jpg");
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.plantcardimage {
  height:200px;
  width:250px;
}

.plantCardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.plantCard{
  margin-bottom: 10px;
}
.plantCardSizer {
  margin: 0 auto;
  border:1px solid grey;
  width:250px;
}
.main {
  display: grid;
  grid-template-columns: .5fr 9fr .5fr;
}
